@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
html {
    scroll-behavior: smooth !important;
    background-color: #333333;
    color: #ffffff;
    font-family: 'Ubuntu',sans-serif;
}

header {
    position: fixed;
    right: 10px;
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}