@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
*,html {
    scroll-behavior: smooth !important;
    color: #000000;
    font-family: 'Ubuntu',sans-serif;
    margin: 0;
    padding: 0;
    
}
div{
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    right: 10px;
    z-index: 999;
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

footer {
    text-align: center;
}